[Unit]
Description=Foreman Raspberry Pi resource reporter
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=%h/.local/bin/foreman satellite
Restart=always
RestartSec=2

[Install]
WantedBy=default.target
